html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#trafficlight {
    position: absolute;
    bottom: 0;
    right: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#lightbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 13vw;
    width: 4vw;
    background-color: black;
    border: solid;
    border-width: 0.2vw;
    border-color: #b3b3b3;
    border-radius: 1vw;
    box-shadow: 1vw 1vw 1vw -0.5vw grey inset;
}

#red {
    height: 25%;
    width: 80%;
    margin: 10%;
    border-radius: 50%;
    background: -webkit-repeating-linear-gradient(0deg, transparent 7%, red 15%), -webkit-repeating-linear-gradient(90deg, transparent 7%, red 15%);
    box-shadow: 0vw 0vw 1vw 0.5vw rgba(0, 0, 0, 0.6) inset;
}

#yellow {
    height: 25%;
    width: 80%;
    margin: 10%;
    border-radius: 50%;
    background: -webkit-repeating-linear-gradient(0deg, transparent 7%, yellow 15%), -webkit-repeating-linear-gradient(90deg, transparent 7%, yellow 15%);
    box-shadow: 0vw 0vw 1vw 0.5vw rgba(0, 0, 0, 0.6) inset;
}

#green {
    height: 25%;
    width: 80%;
    margin: 10%;
    border-radius: 50%;
    background: -webkit-repeating-linear-gradient(0deg, transparent 7%, green 15%), -webkit-repeating-linear-gradient(90deg, transparent 7%, green 15%);
    box-shadow: 0vw 0vw 1vw 0.5vw rgba(0, 0, 0, 0.6) inset;
}

#pole {
    height: 17vw;
    width: 1.5vw;
    background-color: black;
    box-shadow: 1vw 1vw 1vw -0.5vw grey inset;
}

#red:hover {
    background-color: #ff4d4d;
}

#red:active {
    background-color: #ff8080;
    box-shadow: 0vw 0vw 1vw 0.5vw rgba(50, 50, 50, 0.6) inset, 0vw 0vw 1vw 0.5vw rgba(160, 120, 120, 0.8);
}

#yellow:hover {
    background-color: #ffff66;
}

#yellow:active {
    background-color: #ffffb3;
    box-shadow: 0vw 0vw 1vw 0.5vw rgba(50, 50, 50, 0.6) inset, 0vw 0vw 1vw 0.5vw rgba(140, 140, 120, 0.8);
}

#green:hover {
    background-color: #00e600;
}

#green:active {
    background-color: #b3ffb3;
    box-shadow: 0vw 0vw 1vw 0.5vw rgba(50, 50, 50, 0.6) inset, 0vw 0vw 1vw 0.5vw rgba(120, 160, 120, 0.8);
}

.sky {
    display: flex;
    width: 100%;
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    background: linear-gradient(#0d0d26, #3939ac);
    z-index: 0;
}

#moon {
    z-index: -2;
    height: 10vw;
    width: 10vw;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 50%;
    background: radial-gradient(#e6e6ff 10%, #9999ff 90%);
    box-shadow: 0vw 0vw 1vw 0.5vw rgba(0, 0, 0, 0.6) inset, 0vw 0vw 1vw 0.5vw rgba(100, 100, 100, 0.6);
}

.textbox {
    z-index: 1;
    height: 17vw;
    width: 17vw;
    background-color: rgba(100, 100, 100, 0.4);
    box-sizing: border-box;
    border: solid rgba(170, 170, 170, 0.8) 0.3vw;
    padding: 1%;
    position: absolute;
    left: 3vw;
    top: 3vw;
    box-shadow: 0vw 0vw 1vw 0.5vw rgba(190, 190, 190, 0.6);
    font-family: 'Coiny', cursive;
    font-size: 1.5vw;
}

h1 {
    z-index: 1;
    width: 100%;
    text-align: center;
    font-family: 'Coiny', cursive;
    color: rgba(170, 170, 170, 0.6);
    font-size: 55px;
    font-size: 5vw;
    text-shadow: 0vw 0vw 3vw rgba(190, 190, 190, 0.8)

}

#smalltree {
    border: solid 8vw;
    border-bottom-width: 27vw;
    position: absolute;
    left: 16vw;
    bottom: 15vh;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #9999e6;
}

#bigtree {
    border: solid 10vw;
    border-bottom-width: 33vw;
    position: absolute;
    left: -2vw;
    bottom: 15vh;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #adadeb;
}

#smallesttree {
    border: solid 8vw;
    border-bottom-width: 24vw;
    position: absolute;
    left: 25vw;
    bottom: 7vh;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #c2c2f0;
}

#backhill {
    position: absolute;
    left: -2vw;
    bottom: 0;
    background-color: #d6d6f5;
    box-shadow: 0vw 0vw 1vw 0.2vw rgba(150, 150, 150, 0.6) inset, 0vw 0vw 1vw 0.5vw rgba(200, 200, 200, 0.6);
    width: 120%;
    height: 45vh;
    border-top-left-radius: 100% 80%;
    z-index: -1;
}

#fronthill {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #8585e0;
    width: 100%;
    height: 16vh;
    border-top-right-radius: 100% 100%;
    box-shadow: 0vw 0vw 1vw 1vw rgba(150, 150, 150, 0.6) inset, 0vw 0vw 1vw 0.2vw rgba(200, 200, 200, 0.6);
}
